body {
	font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0;
}

#center {
	position:relative;
	display:inline-block;
	width: 100%;
}

#header {
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	width: 1200px;
	height: 70px;
	padding: 20px;
}

#centerFlex {
	flex-direction: 1;
	justify-content: center;
	display: flex;
}

#content {
	display: block;
	position: relative;
	width: 100%;
	box-sizing: border-box;
	align-items: center;
	text-align: center;
}

#footer {
	position: relative;
	width: 100%;
	background: #49075e;
	display: block;
	padding: 20px;
	box-sizing: border-box;
	color: white;
	overflow: auto;
}

#main {
	/*height:450px;*/
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	background: #f5f5f5;
	width: 900px;
}

#comments {
	flex-grow: 1;
	position: relative;
	display: inline-block;
	/*height:450px;*/
	flex: 1;
	width: 280px;
	vertical-align:top;
	box-sizing: border-box;
	text-align: left;
}

@media only screen and (max-width: 900px) {

    #title {
    	font-size: 2em;
    }
}
